<h1>My bookmarks</h1>

<%= link_to 'New bookmark', [:new, :bookmark], class: 'btn btn-primary' %>

<br><br>
<%= form_tag bookmarks_path, method: :get, class: 'form-inline' do %>
  <div class='form-group'>
    <%= text_field_tag :q, params[:q], placeholder: 'Search bookmarks', class: 'form-control' %>
  </div>

  <%= submit_tag 'Search', class: 'btn btn-info' %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @bookmarks.empty? %>
      <tr>
        <td colspan="4">No bookmarks found</td>
      </tr>
    <% else %>
      <% @bookmarks.each do |bookmark| %>
        <tr>
          <td><%= bookmark.id %></td>
          <td><%= bookmark.title %></td>
          <td><%= bookmark.inline_tags %></td>
          <td>
            <%= link_to 'Edit', [:edit, bookmark], class: 'btn btn-sm btn-success' %>
            <%= link_to 'Access', bookmark.url, target: 'blank', class: 'btn btn-sm btn-default' %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
